code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
span.underline{text-decoration: underline;}
div.column{display: inline-block; vertical-align: top; width: 50%;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
ul.task-list{list-style: none;}
$if(quotes)$
q { quotes: "“" "”" "‘" "’"; }
$endif$
$if(highlighting-css)$
$highlighting-css$
$endif$
$if(displaymath-css)$
.display.math{display: block; text-align: center; margin: 0.5rem auto;}
$endif$

.container-fluid {
    max-width: 768px;
}

/* Add margin for static header */
body {
    margin-top: 56px;
}

/* Anchor offset with static header */
*[id]:before { 
    display: block; 
    content: ""; 
    margin-top: -56px; 
    height: 56px; 
    visibility: hidden; 
}

section a {
    color: inherit;
}
section a:hover {
    color: #0056b3;
}

section a:after {
    display: inline-block;
    content: "";
    background-size: .8rem .8rem; /* bepaalt de grootte van de icon */
    width: 1.1rem; /* geeft .3rem ruimte aan linkerkant */
    height: .9rem; /* geeft .1rem ruimte aan de onderkant */
    background-position: right; /* default is left top en is nodig om die .3rem ruimte links te hebben ipv rechts */
    background-repeat: no-repeat; 
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%230056b3' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/><path fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/></svg>");
}

.job-entry {
    margin-bottom: 9%;
}

.job-entry.highlight {
    background-color: #f8f9fa;
    border-left: 1px solid #0056b3;
    margin-right: -15px;  
    padding-right: 15px;
}

@media screen and (max-width: 768px){
  .job-entry.highlight {
      margin-left: -15px;
      padding-left: 14px;
  }
}

.job-entry ul {
    /* same as bootstraps class="list-unstyled" */
    padding-left: 0; 
    list-style: none;
}

.job-entry li {
    padding: .75rem 0;
    border: 1px solid rgba(0,0,0,.125);
    border-width: 0 0 1px;
}
.job-entry li:last-child {
    border-bottom-width: 0;
    padding-bottom: 0;
}
.job-entry li:first-child {
    padding-top: 0;
}

h1 {
    /* Make sure that the title "Curriculum Vitae" still fits on one line at large width */
    font-size: min(calc( 2rem + 3vw ), 600%);
    font-weight: 200;
    color: #0056b3; 
    margin-bottom: 5%;
}

h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #014792;
}

h4 {
    margin-bottom: .75rem;
    font-weight: 300;
}

h5 {
    margin-top: .5rem;
}

.navbar {
	--bs-navbar-padding-x: 0.5rem;
}
